$base-font-size: 18px;
$base-font-scale: 1.2;

$text-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$code-font: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;

$content-max-width: 50rem;
$line-height: 1.5;
$spacing-scale: 1;
